# Default ignored files
/../../../../4604031 Programación Estructurada /Material/Código/.idea/shelf/
/../../../../4604031 Programación Estructurada /Material/Código/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../4604031 Programación Estructurada /Material/Código/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../4604031 Programación Estructurada /Material/Código/.idea/dataSources/
/../../../../4604031 Programación Estructurada /Material/Código/.idea/dataSources.local.xml
